#footerSlideContainer {
    position: fixed;
    bottom:0;
    width: 100%;
    z-index: 99;
}

.footerSlideButton {
    padding-right: 10px;
    padding-left: 10px;

    background: #2c3e50;
    border-radius: 5px 5px 0 0;
    color: white;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;

    position: absolute;
    top: -35px;
    right: 20px;
    height: 35px;
    border: none;
    cursor: pointer;

    width: 95px;

    font-weight: normal;
  
  -webkit-user-select: none;
  -moz-user-select: none;
   user-select: none;
}
.footerSlideButton:hover {background: #34495e;}
.footerSlideButton:before {
  content: "著作權聲明";
}
/* Show Footer */
input[type=checkbox]:checked ~ #footer {
     display: none;
}

/* Change Icon */
input[type=checkbox]:checked ~ .footerSlideButton:before {
    content: "Close X";
}



/* Hack Checkbox */
.toogle-hide {
   position: absolute;
   top: -9999px;
   left: -9999px;
   visibility: hidden;
}

/* Animate Footer and Button 
@-webkit-keyframes slideUpBtn {
  from {bottom: 0px;}
  to {bottom: 200px;}
}

@-webkit-keyframes slideUp {
  from {bottom: -200px;}
  to {bottom: 0;}
}*/



#footerSlideContent {
    width: 100%;
    height: 0px;
    background: #c4c4c4;
    color: #000000;
    font-size: 0.8em;
    border: none;
    font-family: DejaVuSansBook, Sans-Serif;
}
#footerSlideContent h3 {
    font-size: 36px;
    margin: 10px 0 10px 0;
}
#footerSlideContent ul {
    color: #EE8D40;
    list-style-type: none;
    line-height: 2em;
}
#footerSlideText {
    padding: 15px 15px 25px 25px;
}
